a {
    color: white;
    text-decoration: none;
    border: white 2px solid;
    margin: 2px;
    padding: 5px;
}

a:hover {
    color: lime;
    border: 3px lime solid;
}

nav {
    list-style: none;
    text-align: center;
    border-bottom: 2px lime solid;
    border-top: 2px lime solid;
    padding-top: 15px;
    position: sticky;
    top: 0;
    background-color: black;
}

header {
    padding: 25px;
}

header > h1:hover {
    animation: rainbow;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

nav > ul > li {
    display: inline;
    margin: 2px;
}

#contact > ul {
    list-style: none;
}

#about > h3, #education > h3, #skills > h3, #projects > h3, #resume > h3, #contact > h3{
    border-bottom: 2px lime solid;
    padding-top: 15px;
    border-radius: 2px;
}

@keyframes rainbow{
    0% {
        color: red;
    }
    10% {
        color: orange;
    }
    20% {
        color: yellow;
    }
    30% {
        color: green;
    }
    40% {
        color: blue;
    }
    50% {
        color: purple;
    }
    60% {
        color: blue;
    }
    70% {
        color: green;
    }
    80% {
        color:yellow;
    }
    90% {
        color:orange;
    }
    100% {
        color: red;
    }
}

.webring-logo {
  width: 60px;
  height: 60px;

  /* You can do whatever color you like for the logo. CSS magic!*/
  background-color: white;

  -webkit-mask-image: url("https://mohawk-college-webring.vercel.app/logo.svg");
  mask-image: url("https://mohawk-college-webring.vercel.app/logo.svg");

  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
.left-arrow {
  width: 60px;
  height: 60px;

  /* You can do whatever color you like for the arrows. CSS magic!*/
  background-color: white;

  -webkit-mask-image: url("https://mohawk-college-webring.vercel.app/leftArrow.svg");
  mask-image: url("https://mohawk-college-webring.vercel.app/leftArrow.svg");

  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
.right-arrow {
  width: 60px;
  height: 60px;

  /* You can do whatever color you like for the arrows. CSS magic!*/
  background-color: white;

  -webkit-mask-image: url("https://mohawk-college-webring.vercel.app/rightArrow.svg");
  mask-image: url("https://mohawk-college-webring.vercel.app/rightArrow.svg");

  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.left-arrow:hover:hover, .webring-logo:hover, .right-arrow:hover {
    background-color: lime;
}